@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;1,100&display=swap");
body {
  font-family: "Noto sans";
  background-color: #EAE3F3; }
  body header nav div {
    background-color: #5D536B;
    position: static;
    height: 14vh; }
    body header nav div div ul li {
      display: inline-block; }
      body header nav div div ul li a {
        text-decoration: none;
        transition-property: all;
        transition-duration: 300ms; }
      body header nav div div ul li a:hover {
        color: white; }

footer div {
  background-color: #5D536B; }
  footer div div div div div {
    list-style-type: none a; }

main {
  background: #c1b6d0;
  background: linear-gradient(90deg, #c1b6d0 0%, #ad93d1 47%, #c1b6d0 100%); }
