@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Balinese&family=Noto+Sans:ital,wght@1,300&display=swap");
body {
  font-family: "Noto sans";
  background-color: #5D536B; }

main {
  background: #c1b6d0;
  background: linear-gradient(90deg, #c1b6d0 0%, #ad93d1 47%, #c1b6d0 100%); }

header {
  background-color: #5D536B; }
  header nav div {
    background-color: #5D536B;
    position: static;
    height: 12vh; }
    header nav div a span {
      font-family: Kaushan Script;
      color: #989FCE; }
    header nav div div ul li {
      display: inline-block; }

footer div {
  background-color: #5D536B; }
  footer div div div div div {
    list-style-type: none; }

main h1 {
  font-family: 'Noto Sans Balinese', sans-serif; }

main div div h3 {
  font-size: medium;
  font-family: 'Noto Sans Balinese', sans-serif; }

main div div p {
  font-family: 'Noto Sans', sans-serif; }

main h1 {
  font-family: 'Noto Sans Balinese', sans-serif; }

main div div {
  font-size: medium;
  font-family: 'Noto Sans Balinese', sans-serif; }

main h2 {
  font-family: 'Noto Sans Balinese', sans-serif; }

.datos {
  background-color: #989FCE;
  height: 12rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "candado tarjeta camion" "titulo-1 titulo-2 titulo-3" "subt-1 subt-2 subt-3"; }
  .datos .candado img {
    width: 100px;
    height: 70px;
    grid-area: candado; }
  .datos .candado h3 {
    grid-area: titulo-1; }
  .datos .candado p {
    grid-area: subt-1; }
  .datos .tarjeta img {
    width: 100px;
    height: 70px;
    grid-area: tarjeta; }
  .datos .tarjeta h3 {
    grid-area: titulo-2; }
  .datos .tarjeta p {
    grid-area: subt-2; }
  .datos .camion img {
    width: 100px;
    height: 70px;
    grid-area: camion; }
  .datos .camion h3 {
    grid-area: titulo-3; }
  .datos .camion p {
    grid-area: subt-3; }

@media (max-width: 763px) {
  .datos {
    height: 35rem;
    flex-direction: column; } }
