body{
    font-family: "Noto sans";
    background-color: #EAE3F3;
    header{
        nav{
            div{
                background-color: #5D536B;
                position: static;
                height: 14vh;
                h1{
                }
                button{
                    span{
                    }
                }
                div{
                    ul{
                        li{
                            display: inline-block;
                            a{
                                text-decoration: none;
                                transition-property: all;
                                transition-duration: 300ms;
                            }
                            a:hover{
                                color: rgb(255, 255, 255);
                            }
                        }
                    }
                }
            }
        }
    }
}
