header{
    background-color: map-get($colores, "violeta" );
    nav{

        div{
            background-color: map-get($colores , "violeta" );
            position: static;
            height: 12vh;
            a{
                span{
                    font-family: Kaushan Script;
                    color: map-get($colores, "celeste" );
                }
            }
            button{
            }
            div{
                ul{
                    li{
                        display: inline-block;
                        a{
                        }
                    }
                }
            }
        }
    }
}

