//todas?
main{
    width: auto;
    h2{
        padding-top: 1rem;
        font-family: 'Noto Sans Balinese', sans-serif;
    }
}


.ropa-inicio div{
    margin-bottom: 2em;
}

.datos{
    height:100%;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-around;
    .caja{
        height: auto;
        width: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.4s;
        img{
            @include tamaño-icons;
        }
    }
    .caja:hover{
        transform: scale(1.2);
    }
}

///////////////productos

.titulo{
    padding-top: .5em;
    font-family: Kaushan Script;
}

//tamaño cards de ropa
.la-ropa{
    height: auto;
    width: auto;
}
.la-ropa div{
    height: auto;
    width: 15em;
    margin-bottom: 2em;
}
.carrito{
    width: auto;
}


////////////////preguntas frecuentes
main{
    div{
        div{
            h3{
                @include subtitulos;
            }
            p{
                font-family: 'Noto Sans', sans-serif;
            }
        }

    }

}
//contactanos
main{
    div{
        div{
            @include subtitulos;
        }
    }
}