//preguntas frecuentes
main{
    h1{
        font-family: 'Noto Sans Balinese', sans-serif;
    }
    div{

        div{
            h3{
                @include subtitulos;
            }
            p{
                font-family: 'Noto Sans', sans-serif;
            }
        }

    }

}

//contactanos
main{
    h1{
        font-family: 'Noto Sans Balinese', sans-serif;
    }
    div{
        div{
            @include subtitulos;
            label{
            }
            input{
            }
        }
    }
}

//inicio, productos, outlet
main{
    h2{
        font-family: 'Noto Sans Balinese', sans-serif;
    }
    div{
        div{
            div{
                img{

                }
            }
        }
    }
}

//inicio
.datos{
    background-color: map-get($colores , "celeste" );
    height: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    div{
        img{
            @include tamaño-icons
        }
    }
}